<table class="table">
  <thead>
    <tr>
      <th>Host</th>
      <th>Report</th>
      <th>Status</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>
    <%- @nodes.each do |node| %>
      <%- node.reports.each do |report| %>
        <tr class="<%= node.css_status %>">
          <td><%= node.node_name %></td>
          <td><%= report.identifier %></td>
          <td><%= report.status %></td>
          <td><%= report.detail %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
